* {
    margin: 0;
    padding: 0;
    font-family: 'Comic Sans MS';
}

body{
    background-color: #d4ffcd;
}

.div_navbar {
    height: 60px;
    background-color: #105205;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.div_navbar li {
    float: left;
    list-style: none;
}

.div_logo {
    width: 11%;
    display: flex;
    justify-content: left;
    border-right: white 1px solid;
}

.div_logo img {
    height: 55px;
}

.div_opcoes {
    width: 65%;
    display: flex;
    justify-content: left;
    font-size: 20px;
}

.div_opcoes li {
    padding: 16px;
}

.div_opcoes li a {
    color: rgb(218, 218, 218);
    text-decoration: none;
    cursor: pointer;
}

.div_opcoes li a:hover {
    color: white;
}

.div_user {
    width: 15%;
    display: flex;
    justify-content: right;
}

.div_user button {
    color: white;
    border: none;
    background-color: transparent;
    font-size: 18px;
    padding: 10px;
    cursor: pointer;
}

.div_user img {
    height: 55px;
    cursor: pointer;
    border: 1px solid black;
    border-radius: 100%;
}

.div_login span{
    font-size: 18px;
}

.div_login {
    background-color: #7FEB6C;
    display: none;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    width: 300px;
    padding: 10px;
    position: fixed;
    top: 85px;
    right: 5px;
    border: #4F594E 2px solid;
    border-radius: 5px;
}

.div_login input{
    background-color: #54b244;
    border: #3a832d 2px solid;
    border-radius: 5px;
    padding: 3px;
    margin: 3px;
}

.div_login button{
    background-color: #105205;
    padding: 4px;
    width: 100px;
    color: white;
    font-size: 18px;
    margin-top: 10px;
    border-radius: 8px;
    cursor: pointer;
}

.div_login img {
    height: 20px;
    cursor: pointer;
    position: fixed;
    top: 90px;
    right: 10px;
}

#erro{
    display: none;
    background-color: rgb(255, 137, 137);
    border: red 1px solid;
    border-radius: 5px;
    padding: 3px;
    color: rgb(120, 0, 0);
}

.div_sobre{
    display: flex;
    padding: 20px;
}

.div_sobre_texto{
    width: 70%;
    font-size: 20px;
    text-indent: 10px;
    margin-right: 50px;
    padding-right: 30px;
    text-align: justify;
    border-right: #4F594E 1px solid;
}

.div_sobre_img img{
    width: 200px;
}

.div_barra{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #612200;
    color: white;
    font-size: 15px;
    padding: 10px;
}

.div_materia{
    padding: 10px;
}

.div_materia h2{
    font-size: 25px;
    border-bottom: #4F594E 1px solid;
    width: 300px;
    margin: 15px;
}

.div_materia p{
    text-indent: 10px;
    font-size: 18px;
}

.titulo{
    display: flex;
}

.titulo img{
    height: 200px;
}